<mat-toolbar class="bg-primary">
  <span class="mat-title">Core Istanbul</span>
  <a routerLink="/employee-list">Employee</a>
  <a routerLink="/class-binding">Class Binding</a>
  <a routerLink="/event-binding">Event Binding</a>
  <a routerLink="/user-list">User</a>
  <a routerLink="/auth/register">Register</a>
  <a routerLink="/auth/registeration">Registeration</a>
</mat-toolbar>

<mat-toolbar class="bg-secondary">
  <span class="mat-title">Angular Material</span>
  <a routerLink="/angular-material/badges">Badges</a>
  <a routerLink="/angular-material/button-toggles">Button-Toggles</a>
  <a routerLink="/angular-material/buttons">Buttons</a>
  <a routerLink="/angular-material/dialogs">Dialogs</a>
  <a routerLink="/angular-material/icons">Icons</a>
  <a routerLink="/angular-material/menus">Menus</a>
  <a routerLink="/angular-material/panels">Panels</a>
  <a routerLink="/angular-material/stepper">Stepper</a>
  <a routerLink="/angular-material/tabs">Tabs</a>
  <a routerLink="/angular-material/typography">Typography</a>
</mat-toolbar>
